.navBar-container{
    height: 60px;
    width: 100%;
    font-size: 18px; /* Tamaño Fuente */
    display: flex; /* Contenedor Flexible */
    background-color:#2A403C ; /* Fondo */
    justify-content: space-between; /* Distribuir contenido */
    align-items: center; /* Centrar los elementos verticalmente */
    border: 1px solid #2A403C ;
    padding-left: 20px;
    padding-right: 20px;
    position:absolute;
    top: 0;
    z-index: 100; /* Asegúrate de que esté encima de otros elementos */
    box-sizing: border-box; /* Asegura que el ancho y alto incluyan el relleno y el borde */
}
@font-face 
{
    font-family: 'Formula1'; /* Nombre de la fuente */
    src: url('../../../fonts/formula1.ttf') format('truetype'); /* Ruta a tu archivo de fuente */
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'Speedway'; /* Nombre de la fuente */
    src: url('../../../fonts/Speeday.ttf') format('truetype'); /* Ruta a tu archivo de fuente */
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'icons'; /* Nombre de la fuente */
    src: url('../../../fonts/icons.ttf') format('truetype'); /* Ruta a tu archivo de fuente */
    font-weight: normal;
    font-style: normal;
}
.name-app{
    font-family: 'Speedway';
    font-size: 30px;
}
.icon{
    font-family: 'Formula1';
    font-size: 30px;
}

.navBar-formContainer{
    display: flex;
    align-items: center;
}

.filter-cont{
    display: flex;
    align-items: center; 
    text-align: center; 
    position: relative;
}

.filter-byTeam{
    font-size: 0.7rem;
    position: absolute;
    top: -0.95rem;
    left: 50%; 
    transform: translateX(-50%); /* Corrige el centrado horizontal */
}
.select-container {
    height: 1.5rem;
    width: 7rem;
    border-radius: 0.6rem 0 0 0.6rem; 
    background-color: #ACB2B6;
    border: 0.1rem solid #1B2A27;
    font-size: 0.74rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1B2A27;
}
.filter-byOrigin{
    font-size: 0.7rem;
    position: absolute;
    top: -0.95rem;
    left: 50%; 
    transform: translateX(-50%); /* Corrige el centrado horizontal */
}
.select-container2 {
    height: 1.5rem;
    width: 4.5rem;
    border-radius: 0 0.4rem 0.4rem 0; 
    background-color: #ACB2B6;
    border: 0.1rem solid #1B2A27;
    font-size: 0.74rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1B2A27;
}
.filter-button{
    background-color: #1B2A27;
    height: 1.8rem;
    width: 2.5rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
}
.filter-button:hover{
    border: 0.1rem solid #F0E5E3;
}
.filter-symbol{
    font-family: 'heydings_icons';
    font-size: 1.3rem;
    margin-top: 0.3rem;
    color: #F0E5E3;
    transform: rotate(180deg); /* Gira el elemento 180 grados */
    display: inline-block; /* Asegura que la rotación no afecte a otros elementos en línea */
}
.sort{
    font-size: 0.7rem;
    position: absolute;
    top: -0.95rem;
    left: 50%; 
    transform: translateX(-50%); /* Corrige el centrado horizontal */
}
.select-container3{
    height: 1.5rem;
    width: 5.3rem;
    border-radius: 0.4rem 0 0  0.4rem; 
    background-color: #ACB2B6;
    border: 0.1rem solid #1B2A27;
    font-size: 0.74rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1B2A27;
}
.year{
    font-size: 0.7rem;
    position: absolute;
    top: -0.95rem;
    left: 50%; 
    transform: translateX(-50%); /* Corrige el centrado horizontal */
}
.select-container4{
    height: 1.5rem;
    width: 3.5rem;
    border-radius: 0 0.4rem 0.4rem 0; 
    background-color: #ACB2B6;
    border: 0.1rem solid #1B2A27;
    font-size: 0.74rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1B2A27;
}
.clear-button{
    background-color: #1B2A27;
    height: 1.8rem;
    width: 2.5rem;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    border-radius: 10px;
    font-size: 0.7rem;
    margin-left: 0.1rem;
}
.clear-button:hover{
    border: 1px solid #F0E5E3;
}
.icons-container{
    display: flex;
    gap: 8rem;
}
.icons{
    font-family: 'icons';
    font-size: 32px;
    color: #F0E5E3;
    padding: 5px 10px; /* Añade espacio alrededor del texto */
    border-radius: 10px; /* Agrega bordes redondos */
}
.icons:hover{
    font-family: 'icons';
    font-size: 32px;
    color: #F0E5E3;
    background-color: #1B2A27;
    padding: 5px 10px; /* Añade espacio alrededor del texto */
    border-radius: 10px; /* Agrega bordes redondos */
}
.icons-selected{
    font-family: 'icons';
    font-size: 32px;
    color: #F0E5E3;
    background-color: #1B2A27;
    padding: 5px 10px; /* Añade espacio alrededor del texto */
    border-radius: 10px; /* Agrega bordes redondos */
}


@media (max-width: 768px) {
    .navBar-container {
        height:4.3rem; 
        flex-direction: column; /* Cambiar la dirección a column para apilar elementos */
        position:absolute;
        display: flex;
    }

    .name-app {
        font-size: 1rem; /* Ajustar el tamaño de la fuente del nombre de la aplicación */
        display: flex;
        position:absolute;
        left: 1rem;
        margin-top: 0.2rem;
    }
    .icon{
        font-size: 1rem;
        margin-left: 0.3rem;
    }

    .icons-container{
        gap: 6rem;
        display: flex;
        position: absolute;
        top: 2rem;
    }
    .icons {
        font-size: 1.4rem; 
    }
    .icons-selected{
        font-size: 1.4rem;
        padding: 0.3rem 0.4rem;
        border-radius: 0.6rem;
    }

    .navBar-formContainer {
        display: flex;
        position: absolute;
        top: 5rem;
    }
    .select-container {
        width: 5.4rem;
        font-size: 0.66rem;
    }
    .select-container2 {
        width: 3.9rem;
        font-size: 0.66rem;
    }
    .select-container3 {
        width: 4.8rem;
        font-size: 0.65rem;
    }
    .select-container4 {
        width: 3rem;
        font-size: 0.66rem;
    }
    .filter-byTeam, .filter-byOrigin, .sort, .year {
        color: #1B2A27; 
    }
    .clear-button {
        width: 1rem;
        height: 1.6rem;
        font-size: 0.6rem; 
        border-radius: 0.4rem;
        margin-left: -0.1rem;
    }
    .filter-button{
        width: 1rem;
        height: 1.6rem;
        font-size: 0.6rem; 
        border-radius: 0.4rem;
        margin-left: -0.1rem;
        margin-right: -0.1rem;
    }
    .filter-symbol{
        font-size: 0.8rem;
    }
}