.navBar-container{
    height: 60px;
    width: 206vh;
    font-size: 18px; /* Tamaño Fuente */
    display: flex; /* Contenedor Flexible */
    background-color:#2A403C ; /* Fondo */
    justify-content: space-between; /* Distribuir contenido */
    align-items: center; /* Centrar los elementos verticalmente */
    border: 1px solid #2A403C ;
    padding-left: 20px;
    padding-right: 20px;
    position:sticky;
    top: 0;
    z-index: 100; /* Asegúrate de que esté encima de otros elementos */
}
@font-face 
{
    font-family: 'Formula1'; /* Nombre de la fuente */
    src: url('../../../fonts/formula1.ttf') format('truetype'); /* Ruta a tu archivo de fuente */
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'Speedway'; /* Nombre de la fuente */
    src: url('../../../fonts/Speeday.ttf') format('truetype'); /* Ruta a tu archivo de fuente */
    font-weight: normal;
    font-style: normal;
}
@font-face 
{
    font-family: 'icons'; /* Nombre de la fuente */
    src: url('../../../fonts/icons.ttf') format('truetype'); /* Ruta a tu archivo de fuente */
    font-weight: normal;
    font-style: normal;
}
.name-app{
    font-family: 'Speedway';
    font-size: 35px;
}
.icon{
    font-family: 'Formula1';
    font-size: 40px;
}

.navBar-formContainer{
    display: flex;
    align-items: center;

}
.select-container {
    height: 35px;
    width: 160px;
    border-radius: 10px 0 0 10px; 
    background-color: #ACB2B6;
    border: 1px solid #1B2A27;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1B2A27;
    margin-right: 0;
}
.select-container2 {
    height: 35px;
    width: 160px;
    border-radius: 0 10px 10px 0; 
    background-color: #ACB2B6;
    border: 1px solid #1B2A27;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1B2A27;
    margin-left: 0;
}
.filter-button{
    background-color: #1B2A27;
    height: 35px;
    width: 40px;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    border: 1px solid #1B2A27;
    border-radius: 0;
}
.filter-button:hover{
    border: 1px solid #F0E5E3;

}
.filter-symbol{
    font-family: 'heydings_icons';
    font-size: 30px;
    color: #F0E5E3;
    transform: rotate(180deg); /* Gira el elemento 180 grados */
    display: inline-block; /* Asegura que la rotación no afecte a otros elementos en línea */
}
.icons{
    font-family: 'icons';
    font-size: 32px;
    color: #F0E5E3;
    padding: 5px 10px; /* Añade espacio alrededor del texto */
    border-radius: 10px; /* Agrega bordes redondos */
}
.icons:hover{
    font-family: 'icons';
    font-size: 32px;
    color: #F0E5E3;
    background-color: #1B2A27;
    padding: 5px 10px; /* Añade espacio alrededor del texto */
    border-radius: 10px; /* Agrega bordes redondos */
}
.icons-selected{
    font-family: 'icons';
    font-size: 32px;
    color: #F0E5E3;
    background-color: #1B2A27;
    padding: 5px 10px; /* Añade espacio alrededor del texto */
    border-radius: 10px; /* Agrega bordes redondos */
}