.driversContainer{
    display: grid; /* cuadrícula */
    grid-template-columns: repeat(auto-fill, minmax(670px, 1fr)); 
    gap: 51%;
    max-width: 100%;
    margin-top: 10%;
}

.driverWrapper {
    display: flex;
    flex-wrap: wrap; /* Envuelve los elementos en varias filas */
    justify-content: center; /* Centra los elementos horizontalmente en cada fila */
}


@media (max-width: 768px) {
    .driversContainer{
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr)); 
        max-width: 50vh;
        margin-top: 17%;
    }

}