
.driverWrapper {
    width: 100%;
    display:flex;
    flex-wrap: wrap; /* Envuelve los elementos en varias filas */
    justify-content: center; /* Centra los elementos horizontalmente en cada fila */
    gap: 0.2rem;
    margin-top: 10%;
    margin-bottom: 8%;
    flex: 1;
    position:relative;
    top: 50;
    box-sizing: border-box; /* Asegura que el ancho y alto incluyan el relleno y el borde */
}
.driverWrapper2{
    width: 95rem;
    display:flex;
    flex-wrap: wrap; /* Envuelve los elementos en varias filas */
    justify-content: center; /* Centra los elementos horizontalmente en cada fila */
    gap: 0.2rem;
    margin-top: 10%;
    margin-bottom: 9%;
    flex: 1;
    position:relative;
    top: 50;
    box-sizing: border-box; /* Asegura que el ancho y alto incluyan el relleno y el borde */
}


@media (max-width: 768px) {
    .driverWrapper{
        width: 100%;
        display:flex;
        flex-wrap: wrap; /* Envuelve los elementos en varias filas */
        justify-content: center; /* Centra los elementos horizontalmente en cada fila */
        gap: 0.2rem;
        margin-top: 50%;
        margin-bottom: 8%;
        flex: 1;
        position:relative;
        top: 50;
        box-sizing: border-box; /* Asegura que el ancho y alto incluyan el relleno y el borde */
    }
    .driverWrapper2{
        width: 21.2rem;
        display:flex;
        flex-wrap: wrap; /* Envuelve los elementos en varias filas */
        justify-content: center; /* Centra los elementos horizontalmente en cada fila */
        gap: 0.2rem;
        margin-top: 50%;
        margin-bottom: 65%;
        flex: 1;
        position:relative;
        top: 50;
        box-sizing: border-box; /* Asegura que el ancho y alto incluyan el relleno y el borde */
    }

}