/* Contenedor Formulario */
.formContainer{
    height: 80%;
    width:26%;
    margin: 0 auto;
    margin-top: 2%;
    padding: 1.4rem;
    border-radius: 1.5rem;
    text-align: center;
    align-items: center;
    background-color: #ACB2B6;
    box-shadow: 0px 4px 6px #1B2A27(0, 0, 0, 0.1);
    /* Alinear */
    position: absolute;
    top: 50%; /* Centra verticalmente en relación con la parte superior de la página */
    left: 50%; /* Centra horizontalmente en relación con el lado izquierdo de la página */
    transform: translate(-50%, -50%); /* Centra vertical y horizontalmente el propio elemento */
}
/* ---------------------------- */
.title-CreateDriver{
    font-family: 'Raceline';
    font-size: 45px;
    margin-top: 45px;
    margin-bottom: -25px;
    color:#9f0602; 
}
/* Botón volver */
.back{
    margin-left: -22px; 
    font-family: 'icons';
    margin-top: -22px;
    display: flex;
    position: absolute;
    background-color: transparent;
    border-radius: 20px;
    border: none;
}
.back:hover{
    background-color:#1B2A27;
}
/* ---------------------------- */
/* Título */
.header{
    margin-top: -30px;
    margin-bottom: 30px;
}
/* ---------------------------- */
/* Errores */
.errors-container{
    font-size: 14px;
    position: absolute; /* Para que no mueva otros elementos */
    display: flex; /* Usar flex */
    flex-direction: row; /* Organizar los mensajes de error en fila horizontal */
    justify-content: center; /* Centrar los elementos horizontalmente */
    align-items: center; /* Centrar los elementos verticalmente */
    left: 50%; /* Centra horizontalmente en relación con el contenedor principal */
    transform: translateX(-50%); /* Centra horizontalmente el propio elemento */
    margin-top: -12px;
}
.errors-message{
    position: absolute;
    display: flex;
    margin-top: -29px;
    margin-left: 178px;
}
.errors-message2{
    position: absolute;
    display: flex;
    margin-top: -29px;
    margin-left: 399px;
}
/* ---------------------------- */
/* Contenedor de 2 propiedades con sus input */
.box-container{
    display: flex;
    justify-content: space-between; /* Distribuye elementos de manera uniforme */
    flex-wrap: wrap; /* Envuelve elementos cuando no caben en una fila */
    align-items: center;
}
/* ---------------------------- */
/* Div: Contenedor de propiedad e input */
.box{
    flex: 1;
    margin-right: 2px;
}
/* ---------------------------- */
/* Input que recibe texto */
.text-input{
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 80%;
    height: 25px;
    border: 2px solid #F0E5E3;
    background-color:  #2A403C;
    border-radius: 10px;
}
.input-errors{
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 80%;
    height: 25px;
    background-color:  #2A403C;
    border: 2px solid #9f0602;
    border-radius: 10px;
}
/* ---------------------------- */
/* Nombre de las propiedades del Driver */
.properties{
    font-size: 17px;
    display: block;
    margin-bottom: 1px;
    margin-top: 7px;
    color:#F0E5E3;
    font-weight:100;
}
/* ---------------------------- */
/* Input para recibir la descripción */
.descript{
    width: 90%;
    height: 30px;
    border: 2px solid #F0E5E3;
    background-color:  #2A403C;
    border-radius: 10px;
    text-align: center;
}
.errors-descript{
    width: 90%;
    height: 30px;
    background-color:  #2A403C;
    border: 2px solid #9f0602;
    border-radius: 10px;
    text-align: center;
}
/* ---------------------------- */
/* Div: Contenedor de propiedad e input LARGO */
.box2{
    margin-top: 10px;
    flex: 1;
    margin-right: 2px;
}
/* ---------------------------- */
/* Título de TEAMS */
.propertiesTeams{
    font-size: 17px;
    display: block;
    margin-top: 15px;
    color:#F0E5E3;
    font-weight: 100;
}
/* Div: Contenedor de TODOS LOS TEAMS */
.teams-container{
    display:flex;
    flex-wrap: wrap;
    border: 1px solid #F0E5E3;
    border-radius: 5px;
    padding: 10px;
    max-width: 410px;
    margin: auto;
    max-height: 10vh;
    overflow: auto ; /* Para desplazamiento del contenedor */
}
/* Para la barra de desplazamiento */
.teams-container::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}
.teams-container::-webkit-scrollbar-thumb {
    background-color: #F0E5E3; /* Color del pulgar de la barra de desplazamiento */
    border-radius: 5px; /* Borde redondeado del pulgar */
}
.teams-container::-webkit-scrollbar-track {
    background-color: #2A403C; /* Color de fondo de la barra de desplazamiento */
    border-radius: 10px; /* Borde redondeado de la barra de desplazamiento */
}
/* Div: Contenedor de cada Team */
.teams-checkbox{
    width: 50%; /* Ancho del contenedor de tipo (ajusta según el número de columnas deseadas) */
    box-sizing: border-box; /* Asegura que el espacio de margen se cuente dentro del ancho */
    overflow: hidden; /* Oculta el desbordamiento de texto */
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Espacio entre los elementos */
}
/* Nombre de cada Team */
.tcLabel{
    font-size: 12px;
    color: #F0E5E3;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    text-overflow: ellipsis; /* Muestra puntos suspensivos cuando el texto es demasiado largo */
    overflow: hidden;
}
/* ---------------------------- */
/* Botón de crear */
.create{
    margin-top: 10px;
    border: 2px solid #F0E5E3;
    background-color:  #1B2A27;
    border-radius: 12px;
}
.create:hover{
    background-color: #2A403C;
    border: 2px solid #F0E5E3;
}
/* ---------------------------- */







@media (max-width: 768px) {

    /* Contenedor Formulario */
.formContainer{
    height: 75%;
    width:84%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1.4rem;
}
/* ---------------------------- */
.title-CreateDriver{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
}
/* ---------------------------- */
/* Errores */
.errors-container{
    font-size: 0.6rem;
    margin-top: -0.2rem;
}
.errors-message{
    font-size: 0.7rem;
    margin-top: -1.5rem;
    margin-left: 6.8rem;
}
.errors-message2{
    font-size: 0.7rem;
    margin-top: -1.6rem;
    margin-left: 15.8rem;
}
/* ---------------------------- */
/* Div: Contenedor de propiedad e input */
.box{
    flex: 1;
    margin-right: 0.1rem;
}
/* ---------------------------- */
/* Input que recibe texto */
.text-input{
    font-size: 0.8rem;
    width: 70%;
    height: 1.4rem;
    border-radius: 0.6rem;
}
.input-errors{
    font-size: 0.7rem;
    width: 70%;
    height: 1.4rem;
    border-radius: 0.6rem;
}
/* ---------------------------- */
/* Nombre de las propiedades del Driver */
.properties{
    font-size: 0.7rem;
    margin-bottom: 0.1rem;
    margin-top: 0.5rem;
}
/* ---------------------------- */
/* Input para recibir la descripción */
.descript{
    width: 90%;
    height: 1.4rem;
    border-radius: 0.6rem;
}
.errors-descript{
    width: 90%;
    height: 1.4rem;
    border-radius: 0.6rem;
}
/* ---------------------------- */
/* Título de TEAMS */
.propertiesTeams{
    font-size: 1rem;
    display: block;
    margin-top: 0.3rem;
}
/* Div: Contenedor de TODOS LOS TEAMS */
.teams-container{
    border-radius: 0.5rem;
    padding: 0.2rem;
    max-width: 30rem;
    max-height: 7rem;
}
/* Div: Contenedor de cada Team */
.teams-checkbox{
    margin-bottom: 0.2rem; /* Espacio entre los elementos */
}
/* Nombre de cada Team */
.tcLabel{
    font-size: 0.7rem;
}
/* ---------------------------- */
/* Botón de crear */
.create{
    margin-top: 0.5rem;
    font-size: 0.8rem;
    border-radius: 1rem;
    height: 2.5rem;
}

}