.firstContainer{
    background-color: #ACB2B6;
    border: 5px solid #2A403C;
    border-radius: 20px;
    margin: 2% auto;
    display: flex;
    width: 95%;
    padding: 0%;
}
.detailContainer{
    background-color: #ACB2B6;
    border: 2px solid #2A403C;
    border-radius: 20px;
    margin: 2%;
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    overflow-y: auto; 
    max-height: 60vh; 
}
.back-button{
    background-color: transparent;
    color: #F0E5E3;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: -22px;
    margin-top: -22px;
    font-family: 'icons';
}
.back-button:hover{
    background-color: #2A403C;
}
.imgContainer{
    width: 80%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.img{
    max-width: 50%;
    height: auto;
    border-radius: 15px;
    border: 3px solid #F0E5E3;
}
.descriptionContainer {
    width: 50%;
    text-align: left;
}
.name-detail{
    font-family: 'Raceline';
    color:#9f0602; 
    font-size: 60px;
    margin-top: -5px;
}
.props{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: #F0E5E3;
}
.name-props{
    font-size: 17px;
    color: #2A403C;
}