.driverContainer{
    background-color: #ACB2B6;
    text-align: center;
    align-items:center;
    border-radius: 10%;
    margin: 0.3em;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column; /* Establece la dirección de los elementos hijos */
    position: relative;

}
.card{
    background-color: #ACB2B6;
    border-radius: 1rem;
    margin: 2%;
    height: 62%;
    width: 62%;
    background-size: cover; /* Escala la imagen de fondo para llenar el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    overflow: hidden; /* Oculta el contenido fuera del límite del contenedor */
    position: relative; 
}
.imageContainer{
    height: 100%; /* Ocupa todo el espacio vertical disponible en la tarjeta */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente en la tarjeta */
    align-items: center; /* Centra la imagen verticalmente en la tarjeta */
}
.driverContainer:hover{
    transform: translateY(-5px); /* Levanta la tarjeta en hover */
}

.name{
    font-size: 1.8rem;
    font-family: 'Raceline';
    color: #2A403C;
    word-wrap: break-word;
}


.imageDriver{
    height: 152%;
    width: auto;
}

.teams{
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
    font-size: 0.7rem;
    color: #F0E5E3;
    word-wrap: break-word;
}


@media (max-width: 768px) {
    .driverContainer{
        margin: 0.1em;
        height: 105px;
        width: 105px;
    }
    .card{
        margin: 1%;
        height: 70%;
        width: 70%;
    }

    .imageContainer{
        height: 100%; 
        display: flex;

        justify-content: center; 
        align-items: center;
    }
    .imageDriver{
        height: 160%;
        width: auto;
    }

    .name{
        font-size: 0.7rem;
        margin-left: 0.2rem;
        margin-right: 0.1rem;
        color: #2A403C;
    }    
    .teams{
        display: none;
    }
}