.driverContainer{
    background-color: #ACB2B6;
    border: 1% solid #2A403C;
    text-align: center;
    align-items:center;
    border-radius: 10%;
    margin: 0.3em;
    margin-top: 2em;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column; /* Establece la dirección de los elementos hijos */
}
.card{
    background-color: #ACB2B6;
    border-radius: 12%;
    margin: 2%;
    height: 62%;
    width: 62%;
    background-size: cover; /* Escala la imagen de fondo para llenar el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    overflow: hidden; /* Oculta el contenido fuera del límite del contenedor */
    position: relative; /* Permite posicionar elementos hijos relativamente */
}
.imageContainer{
    height: 100%; /* Ocupa todo el espacio vertical disponible en la tarjeta */
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente en la tarjeta */
    align-items: center; /* Centra la imagen verticalmente en la tarjeta */
}
.driverContainer:hover{
    transform: translateY(-5px); /* Levanta la tarjeta en hover */
}

.name{
    font-size: 28px;
    font-family: 'Raceline';
    color: #2A403C;
}


.imageDriver{
    height: 300px;
    width: auto;
}

.teams{
    font-size: 17px;
    color: #F0E5E3;
}
@media (max-width: 768px) {
    .driverContainer{
        background-color: #ACB2B6;
        border: 1% solid #2A403C;
        text-align: center;
        align-items:center;
        border-radius: 10%;
        margin: 0.3em;
        margin-top: 2em;
        height: 300px;
        width: 300px;
        display: flex;
        flex-direction: column; /* Establece la dirección de los elementos hijos */
    }
    .firstContainer {
        margin: 5% auto;
        border-radius: 1em;
        width: 95%;
        padding: 0%;
    }
    .detailContainer{
        flex-direction: column;
        align-items: center;
    }
    .imgContainer {
        width: 70%;
    }
    .img {
        max-width: 100%;
        border-radius: 0.5em;
    }
    .name-detail{
        font-size: 1.8em;
    }

}