/* Diseño Landing Page */
/* ------------- */
/* Contenedor Landing */
.landingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; 
    width: 75%;
    position: absolute;
    top: 50%; /* Centra verticalmente en relación con la parte superior de la página */
    left: 50%; /* Centra horizontalmente en relación con el lado izquierdo de la página */
    transform: translate(-50%, -50%); /* Centra vertical y horizontalmente el propio elemento */
}
@font-face 
{
    font-family: 'Raceline'; /* Nombre de la fuente */
    src: url('../../fonts/Raceline.otf') format('truetype'); /* Ruta a tu archivo de fuente */
    font-weight: normal;
    font-style: normal;
}
.titles{
    font-family: 'Raceline';
    font-size: 6rem;
    position:fixed; 
    top: -2rem; 
    z-index: 2; 
    color:#9f0602; 
}
/* ------------- */
/* Contenedor imagen */
.imageContainer{
    position: relative; /* Permite posicionar elementos hijos de forma absoluta */
    height: 95vh; /* Establece el alto al 100% de la ventana del navegador */
    width: 100%; /* Ocupa todo el ancho disponible */
    border: 1px solid #F0E5E3;
    border-radius: 2rem;
    background-color: #F0E5E3;
}
/* Imagen */
.f1Image{
    max-width: 100%;
    max-height: 100%;
    border-radius: 2rem;
}
/* ------------- */
.buttonGo{
    text-align: center;
    font-family: fantasy;
    font-size: 1.5rem;
    height: 4rem;
    width: 10.3rem;
    position: absolute; /* Posición absoluta */
    bottom: 50px; /* Ajusta la distancia desde la parte inferior */
    z-index: 2; /* Asegura que el botón esté por encima de la imagen */
    background-color: #1B2A27;
    color: #F0E5E3; /* Cambia el color del texto para que sea visible en la imagen */
    border-radius: 25px;
}
.buttonGo:hover{
    background-color: #2A403C;
    border: 1px solid #F0E5E3;
}


@media (max-width: 768px) {
    .landingContainer {
        width: 100%; /* Ocupa el ancho completo de la pantalla */
        display: flex;
        height: 90vh; 
        position: absolute;
    }
    .titles {
        font-size: 3rem;
        top: -2rem;
    }
    .imageContainer {
        height: 90%; 
        width: 90%; 
        overflow: hidden; /* Oculta el contenido fuera del límite del contenedor */
    }
    .f1Image {
        height: 99%; 
        object-fit: cover; 
    }
    .buttonGo {
        font-size: 1.5rem; 
        width: 80%;
        bottom: 1rem; 
    }
}